.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  margin-top: 12px;
}

.card__like-button {
  background-image: url(../images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card_delete-button {
  background-image: url(../images/Delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/Like-active.svg);
  opacity: 100%;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active:hover {
  opacity: 40%;
}

.card_delete-button:hover {
  background-image: url(../images/Delete_hover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    font-size: 16px;
    line-height: 1;
  }
  .card__title {
    line-height: 1;
    font-size: 16px;
    max-width: 235px;
  }
}
