.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

.cards_title {
  font-family: "Poppins";
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0%;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
