.modal {
  z-index: 1111;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  display: block;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.modal__close-btn {
  background-repeat: no-repeat;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon-black.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close-btn_type_preview {
  top: 0px;
  right: -52.5px;
  background-image: url(../images/Preview_Close_Icon.svg);
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.5;
  /* not sure if correct */
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  border-color: #21212166;
}

.modal__input:hover {
  opacity: 0.8;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  height: 52px;
  color: #fcf5e5;
  background-color: #212121;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .modal__caption {
    font-size: 16px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
