.profile {
  padding: 34px 0 20px;
  border-bottom: 1px solid #21212166;
  display: flex;
  position: relative;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  color: #212121;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  margin-top: auto;
  border: none;
  font-size: 16px;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  opacity: 0.7;
}

.profile__add-button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
  width: 149px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: auto;
  cursor: pointer;
  border: none;
}

.profile__add-button:hover {
  opacity: 80%;
  /* background-color: rgba(33, 33, 33, 0.8);*/
}

.profile__edit-button:hover {
  opacity: 100%;
  /*color: rgba(33, 33, 33, 0.8);*/
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 280px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 280px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-button {
    border: none;
    align-self: center;
  }

  .profile__add-button {
    margin-left: 0;
    width: 100%;
  }
}
